__pycache__
test*
video*.zip
audio/raw
audio/split
audio
.vscode
Formosan Corpus (2020)
form-corp-data.json
*.csv
/docs/sentence
/docs/story
/docs/grammar
/docs/all_lang.json
/docs/cache.pkl
/docs/raw-data.log
/docs/text-meta.json
/raw-data/*
